//Pages
@use "./pages/dashboard.scss" as *;
@use "./pages/admin.scss" as *;
@use "./pages/game.scss" as *;

//Components
@use "./components/header.scss" as *;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font-family: Arial, Helvetica, sans-serif;
}

path,
circle {
stroke: #707070;
stroke-width: 0.1;
stroke-linecap: round;
fill: non
}

.error {
    color: #ff0000;
}

.success {
    color: #307521;
}